body {
    margin: 0;
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif; /* Adjust font-family as needed */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
.form {
    padding: 2rem;
    width: 70%;
    height: 60vh;
    border-radius: 5px;
    background-color: #001C25;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: auto; /* Center align the form */
  }
  
  .successMessage {
    width: 100%;
    text-align: center;
    color: #FFD700;
    font-size: larger;
  }
  
  .row,
  .rowButton {
    width: 100%;
    display: flex;
    gap: 2rem;
  }
  
  .row input,
  .row select,
  .rowButton input {
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    border: 15%;
    border-color: white;
    color: white;
    outline: none;
    box-shadow: none;
    font-size: larger;
    background-color: #001C25;
  }
  
  .rowButton input {
    background-color: #FFD700;
  }
  
  .successMessage {
    text-align: center;
    color: #FFD700;
    font-size: larger;
  }
  